{
  "circuit": {
    "domain": "<domain, e.g. circuitsandbox.net>",
    "client_id": "<your client id>",
    "client_secret": "<your client secret>",
    "scope": "ALL"
  },
  "app": {
    "domain": "<domain hosting app, e.g. http://localhost:3000>"
  }
}