<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h2>Circuit Voting Tracker</h2>
        <p><%= error %></p><br>
        <p><a class="btn btn-primary" href="/">Back</a></p>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">roger.urscheler@unify.com | source on <a href="https://github.com/circuit/node-linkify/">github</a></p>
      </div>
    </footer>
</body>
</html>

